<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/style.css" media="screen"/>
        <title>Edit <%= @book.title %> | Shelvs</title>
    </head>

    <body>
        <% if Helpers.is_logged_in?(@session) %>
            
            <div class="form">
            <h1 class="title">Edit a book below</h1>
            <form method="POST" action=<%= "/books/#{@book.id}" %>>
                <input type="hidden" name="_method" value="PATCH">
                <img class="cover_image" src=<%= @book.cover != nil ? @book.cover : "../../images/book_default.png" %>>
                <p>Book Tittle: <input type="text" name="book[title]" value="<%= @book.title %>"></p>
                <p>Author: <input type="text" name="book[author]" value="<%= @book.author %>"></p>

                <p>Your libraries:</p>
                
                <% @libraries.each do |library| %>
                    <input type="checkbox" name="book[library_ids][]" value=<%= library.id %> <%= 'checked' if @book.libraries.include?(library) %>><%= "#{library.name}" %>
                <% end %>
                
                <br>

                <p>and/or, create a new library:</p>

                <input type="text" name="library[name]" placeholder="Name">
                <br>

                <div class="button>">
                <input type="submit" value="Update Book">
                </div>
                
            </form>
            </div>

            <form method="POST" action=<%= "/books/#{@book.id}" %>>
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="DELETE" id="delete_button">
            </form>
        <% else %>
            <h3>Please Log In to Continue</h3>
        <% end %>
    </body>
</html>