<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css" media="screen"/>
        <title><%= @book.title %> | Shelvs</title>
    </head>
    <body>
        <img class="cover_image" src=<%= @book.cover != nil ? @book.cover : "../images/book_default.png" %>>
        <h1 class="title"><%= @book.title %></h1>
        <h1>Written By:<%= @book.author %></h1>
        <br>
        <h3 class="header">Libraries This Book Is In:</h3>
        <% @book.libraries.each do |library| %>
            <a class="library" href=<%= "/libraries/#{library.id}" %>>
                <img class="cover_image" src=<%= library.cover != nil ? library.cover : "../images/library_default.png" %>>
                <p class="name"><%= "#{library.name}" %></p>
            </a>
            <br>
        <%end%>

        <form action="/books/<%= @book.id %>/edit">
            <input type="submit" Value="Edit Book Info">
        </form>

    </body>
</html>