<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/style.css" media="screen"/>
        <title>Edit <%= @library.name %> | Shelvs</title>
    </head>

    <body>
        <% if Helpers.current_user(@session) == @library.user %>
            <br>
            <h1 class="header">Edit Your library below</h1>
            
            <div class="form">
            <form method="POST" action=<%= "/libraries/#{@library.id}" %>>
                <input type="hidden" name="_method" value="PATCH">
                
                <img class="cover_image" src=<%= @library.cover != nil ? @library.cover : "../../images/library_default.png" %>>
                <!--<input type="file" name="image" accept="image/*">-->

                <p>Library Name: <input type="text" name="library[name]" value="<%= @library.name %>" required></p>

                <p>Choose Books:</p>
                
                <% @books.each do |book| %>
                    <input type="checkbox" name="library[book_ids][]" value=<%= book.id %> <%= 'checked' if @library.books.include?(book) %>><%= "#{book.title} | #{book.author}" %>
                <% end %>
                
                <br>

                <p>and/or, add a new book:</p>

                <input type="text" name="book[title]" placeholder="Title">
                <input type="text" name="book[author]" placeholder="Author">

                <input type="submit" value="Update Table">
            </form>
            

            <form method="POST" action=<%= "/libraries/#{@library.id}" %>>
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="DELETE" id="delete_button">
            </form>
            </div>

        <% else %>
            <h3>You do not have access to this page. Please log in to the owner's account.</h3>
        <% end %>
    </body>
</html>